.DS_Store

# .NET build artifacts
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio
.vs/
.vscode/

# Rider
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

